.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  mat-sidenav {
    border: none;
  }
  
  mat-sidenav-container {
    visibility: visible;
  }
  
  mat-sidenav-content {
    display: flex;
  }
  
  .side-menu2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    padding-left: 24px;
    margin-right: 130px;
  }
  
  .side-title2 {
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
  }
  
  .side-title2:hover {
    background-color: #d4d2d2;
  }
  
  .side-title2:focus {
    background: #feefc3;
  }
  
  
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
  }
  
  
  mat-toolbar.mat-primary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #5f6368;
    background: #fff;
    border-bottom: 1px solid lightgray
  }
  
  .toolbar-left {
    padding-right: 30px;
    display: flex;
    box-sizing: border-box;
  }
  
  .toolbar-right {
    display: flex;
    gap: 30px;
  }
  
  .app-Logo {
    display: flex;
    align-items: center;
    font-family: Product Sans, Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    background-color: #ffff;
    cursor: pointer;
  }
  
  .app-name {
    margin: 0;
    margin-left: 8px;
    color: #5f6368;
  }
  
  .side-menu {
    width: 300px;
  }
  
  .mdc-button .mdc-button__label {
    display: flex;
    gap: 20px;
  }
  
  .side-title {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //background: #feefc3;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    border-radius: 20px;
  }
  
  .side-title:focus {
    background: #feefc3;
  }
  
  
  .side-button {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  h3 {
    margin-top: 14px;
  }
  
  .side-icons {
    width: 24px;
    height: 24px;
    display: flex;
  }
  
  .searchbar-top {
    margin-left: 15px;
    margin-right: 13%;
    width: 100%;
    background: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  
  .searchbar {
    height: 46px;
    padding-left: 20px;
    margin-left: 6px;
    margin-right: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .search-icon {
    border: none;
  }
  
  .searchtext {
    font: normal 17px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    outline: none;
    border: none;
    background: #f1f3f4;
  }
  
  .searchChange {
    background: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3), 0 1px 3px 1px rgba(65, 69, 73, 0.15);
  
  }
  
  .searchChange input {
    border: none;
    box-shadow: none;
  }
  
  .child-route {
    width: 100%;
  }
  
  .menu-content{
    margin: 10px;
    background: #f3f6fc;
  }
  
  .menu-card{
    // margin: 10px;
    // margin-bottom: 0;
  box-shadow: none;
  }
  
  .menu-card1{
    box-shadow: none;
    }
  
  ::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel{
    width: 280px;
    max-width:350px
  }
  
  .add,.out{
    width: 100%;
    display: flex;
    justify-content: flex-start;
      gap: 20px;
  }
  
  
  .info {
    display: flex;
    flex-direction: column;
  }
  
  .collab-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .logo {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: green;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .User {
    width: 100%;
    display: flex;
    gap: 20px;
  }
  
  ul{
    display: flex;
    // margin: 0;
     padding: 0;
    font-size: 12px;
    gap: 20px
  }
  
  @media only screen and (max-width: 1030px) {
    .toolbar-right {
      gap: 0;
    }
  
    .searchbar-top {
      width: fit-content;
      margin-right: 6px;
    }
  
    .side-menu2 {
      margin-right: 40px;
      gap: 40px;
    }
  
  }
  
  @media only screen and (max-width: 850px) {
    .toolbar-right {
      padding-right: 10px;
      gap: 0px;
    }
  
    .right1 {
      display: flex;
      gap: 0px;
    }
  
    .top-icons {
      width: 30px;
    }
  
    .searchbar-top {
      margin-right: 0;
      margin-left: 5px;
    }
  
    .searchbar {
      padding-left: 0px;
      margin-left: 0px;
      margin-right: 0px;
      gap: 0px;
    }
  
    input {
      width: 200px;
    }
  }
  
  @media only screen and (max-width: 620px) {
    input {
      width: 150px;
    }
  }
  
  @media only screen and (max-width: 500px) {
  
    .example-toolbar {
      padding: 0;
    }
  
    .side-menu2 {
      gap: 20px;
      padding-top: 24px;
      padding-left: 8px;
      margin-right: 10px;
    }
  
    .logo-img {
      width: 32px;
      height: 32px;
    }
  
    .app-name {
      font-size: 16px;
      margin: 0;
    }
  
    .mat-mdc-icon-button.mat-mdc-button-base {
      width: 32px;
      height: 46px;
    }
  
    .toolbar-left {
      padding-right: 2px;
    }
  
    .searchbar {
      height: 32px;
    }
  
    input {
      width: 55px;
    }
  
    #searchicon {
      padding-left: 2px;
      padding-right: 0;
    }
  
    #viewbutton {
      display: none;
    }
  
  
  }