<div class="MainDisplayNotesContainer">

    <div *ngFor="let notes of childData | search:searchText">
        <div class="NotesContainer" [style.background-color]="notes.color">

            <div class="TitleInput" (click)="openDialog(notes)">
                {{notes.title}}
            </div>

            <div class="DescriptionInput" (click)="openDialog(notes)">
                {{notes.description}}
            </div>
            <mat-chip-option class="chips" *ngFor="let label of notes.noteLabels" (mouseenter)="label.showIcon = true"
                (mouseleave)="label.showIcon = false" style="background-color: rgba(0,0,0,.08);"
                (removed)="remove(label.id,notes.id)">
                {{label.label}}
                <button matChipRemove [attr.aria-label]="'remove ' + label.id" *ngIf="label.showIcon">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-option>
            <mat-chip-option class="chips" *ngFor="let remind of notes.reminder"
            (mouseenter)="notes.showIcon = true" (mouseleave)="notes.showIcon = false"
            style="background-color: rgba(0,0,0,.08);"
            (removed)="removeReminder(notes.id,notes.reminder)">{{((notes.reminder).toString()).replace(excludedData,
            '')|date:'dd MMM, hh:mm a'}}
            <!-- {{((notes.reminder).toString())|date:'short'}}  -->
            <button matChipRemove [attr.aria-label]="'remove ' + notes.id" *ngIf="notes.showIcon">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-option>
        <div class="collab-div">
            <div *ngFor="let collab of notes.collaborators; let i = index">
                <div class="logo" matTooltip="{{collab.email}}"
                    [ngClass]="'element-bg-' + (i % 10 + 1)">{{(collab.firstName).charAt(0)}} </div>
            </div>
        </div>

            <div class="BottomIconsContainer">
                <app-noteicon [noteinfo]="notes" [trashview]="trash" (refresh)="refresh($event)"
                    (refreshtrash)="trashrefresh($event)"></app-noteicon>
            </div>
        </div>
    </div>
</div>