<div class="main">
    <form [formGroup]="loginform" >
        <div class="form-content">
            <span class="logo-title">
                <span class="title1">G</span>
                <span class="title2">o</span>
                <span class="title3">o</span>
                <span class="title1">g</span>
                <span class="title4">l</span>
                <span class="title2">e</span>
            </span>
            <span class="form-title">Login</span>
            <span class="form-heading">Use your Google Account</span>
            <div class="email">
                <mat-form-field class="mat-outline" appearance="outline">
                    <mat-label>Email or phone</mat-label>
                    <input matInput formControlName="email" placeholder="">
                    <mat-error>email is required</mat-error>
                </mat-form-field>
            </div>

            <div class="password">
                <mat-form-field class="mat-outline" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="">
                    <mat-error>password is required</mat-error>
                </mat-form-field>
                <div class="forgot">
                    <button mat-button color="primary" routerLink="/forgot-password">forgot Password?</button>
                </div>
            </div>

            <div class="btn">
                <div>
                    <button mat-button color="primary" routerLink="/signup">Create account</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>