<div class="BottomIcons">

      <div class="LeftIcons" *ngIf="!trashview">
            <img src="../../../assets/notifications_.svg" alt="Remind me" class="DownIcons"
                  [matMenuTriggerFor]="reminder">
            <img src="../../../assets/person_add.svg" alt="Collaborator" class="DownIcons">
            <img src="../../../assets/palette.svg" alt="Background options" class="DownIcons"
                  [matMenuTriggerFor]="colorMenu">
            <img src="../../../assets/image.svg" alt="Add image" class="DownIcons">
            <img src="../../../assets/archive_.svg" alt="Archive" class="DownIcons" (click)="archive()">
            <img src="../../../assets/more_vert.svg" alt="More" class="DownIcons" [matMenuTriggerFor]="menu">
      </div>
      <div *ngIf="trashview">
            <img src="../../../assets/icons/restore_from_trash_FILL0_wght400_GRAD0_opsz48.svg" alt="untrash"
                  class="DownIcons" (click)="restore()">
            <img src="../../../assets/icons/delete_forever_FILL0_wght400_GRAD0_opsz48.svg" alt="Deleteforever"
                  class="DownIcons" (click)="DeleteForever()">
      </div>
      <mat-menu class="reminder-menu" #reminder="matMenu" (click)="$event.stopPropagation()">
            <div class="remind-Menu">Reminder
                  <button mat-menu-item class="remind-btns" (click)=" setDate(0)" *ngIf="isRemind">
                        <div class="remind-item">
                              <span> Later Today</span>
                              <span> 8:00PM </span>
                        </div>
                  </button>
                  <button mat-menu-item class="remind-btns" (click)="setDate(1)">
                        <div class="remind-item">
                              <span> Tommrow </span>
                              <span> 8:00AM </span>
                        </div>
                  </button>

                  <button mat-menu-item class="remind-btns" (click)="setDate(daysUntilNextMonday)">
                        <div class="remind-item">
                              <span> Next Week </span>
                              <span> Mon,8:00AM </span>
                        </div>
                  </button>

                  <button mat-menu-item class="remind-btns" [matMenuTriggerFor]="dateTime">
                        <div class="remind-item-icons">
                              <span>
                                    <img class="remind-icons"
                                          src="../../../assets/icons/schedule_FILL0_wght400_GRAD0_opsz48.png"
                                          alt="Schedule">
                              </span>
                              <span> Pick date & time </span>
                        </div>

                  </button>

                  <button mat-menu-item class="remind-btns">
                        <div class="remind-item-icons">
                              <span>
                                    <img class="remind-icons"
                                          src="../../../assets/icons/location_on_FILL1_wght400_GRAD0_opsz48.svg"
                                          alt="location">
                              </span>
                              <span> Pick place </span>
                        </div>
                  </button>
            </div>
      </mat-menu>
      <mat-menu class="date-menu" #dateTime="matMenu" (click)="$event.stopPropagation()" [hasBackdrop]="false"
            [overlapTrigger]="false">
            <!-- <div mat-menu-item>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker3" [value]="date" [(ngModel)]="selectDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div> -->
            <div class="selectLabel" (click)="$event.stopPropagation()">
                  <mat-form-field class="options">
                        <input matInput *ngIf="showOptions" type="time" [(ngModel)]="remindTime">
                        <mat-select value="8:00AM" *ngIf="!showOptions" [(ngModel)]="remindTime2">
                              <!-- <mat-select value="8:00AM"> -->
                              <mat-option [value]="8">
                                    <div class="remind-item">
                                          <span> Morning </span>
                                          <span> 8:00AM </span>
                                    </div>
                              </mat-option>
                              <mat-option [value]="13">
                                    <div class="remind-item">
                                          <span> Afternoon </span>
                                          <span> 1:00PM </span>
                                    </div>
                              </mat-option>
                              <mat-option [value]="18">
                                    <div class="remind-item">
                                          <span> Evening </span>
                                          <span> 6:00PM </span>
                                    </div>
                              </mat-option>
                              <mat-option [value]="20">
                                    <div class="remind-item">
                                          <span> Night </span>
                                          <span> 8:00PM </span>
                                    </div>
                              </mat-option>
                              <mat-option>
                                    <div class="remind-item" (click)="toggleOptions()">
                                          <span> custom </span>
                                    </div>
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div class="selectLabel" (click)="$event.stopPropagation()">
                  <mat-form-field class="options">
                        <mat-select value="Do not repeat">
                              <mat-option value="Do not repeat">
                                    <div class="remind-item">
                                          <span> Do not repeat </span>
                                    </div>
                              </mat-option>
                              <mat-option value="1:00PM">
                                    <div class="remind-item">
                                          <span> Daily </span>
                                    </div>
                              </mat-option>
                              <mat-option value="6:00PM">
                                    <div class="remind-item">
                                          <span> Monthly </span>
                                    </div>
                              </mat-option>
                              <mat-option value="1:00PM">
                                    <div class="remind-item">
                                          <span> yearly </span>
                                    </div>
                              </mat-option>
                              <mat-option value="1:00PM">
                                    <div class="remind-item">
                                          <span> custom </span>
                                    </div>
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div class="save-btn">
                  <button mat-button (click)="AddNoteReminder()">Save</button>
            </div>

      </mat-menu>
      <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="trash()">Delete note</button>
            <button mat-menu-item [matMenuTriggerFor]="label" #menuTrigger="matMenuTrigger"
                  (menuClosed)="onMenuClosed()" (click)="$event.stopPropagation()" *ngIf="!newNote"> {{labelTitle?'Add
                  label':'change label'}}</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>

      </mat-menu>

      <mat-menu class="label-menu" #label="matMenu" (click)="$event.stopPropagation()">
            <div class="label-Radio" (click)="$event.stopPropagation()">Label note
                  <input class="search-input" placeholder="Enter the Label" type="search" (keyup)="searchLabel($event)">
                  <div *ngFor="let labels of labelArray;let i=index">
                        <mat-checkbox class="check-btn" (click)="selectLabel($event,labels.id)"
                              [checked]="checkedLabels.includes(labels.id)">{{labels.label}}</mat-checkbox>
                  </div>
            </div>
      </mat-menu>

      <mat-menu #colorMenu="matMenu" class="BGColorPallet">

            <div class="ColorCirclesContainer">
                  <div class="Displayer" *ngFor="let color of colorData">
                        <div class="ColorCircle" [style.background-color]="color.code" (click)="ColorCode(color.code)">
                        </div>
                  </div>
            </div>
      </mat-menu>

</div>