.BottomIcons
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.DownIcons
{
    height: 18px;
}

.DownIcons:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

.LeftIcons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

::ng-deep .BGColorPallet .mat-mdc-menu-content
{
    padding: 6%;
}

.BGColorPallet{
    padding: auto;
}
.ColorCirclesContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 160px;
    height: 110px;    
}
::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel{
width: 190px;
}

.ColorCircle
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.TrashIconos:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.TrashIconos{
    height: 20px;  
}
.label-Radio{
    // display: block !important;
     margin: 8px;
     width: 175px;
     display: flex;
     flex-direction: column;
     color: #3c4043;
 }
 .search-input{
    width: 84%;
    font-size: 16px;
    font-family: "Roboto",arial,sans-serif;
    border: none;
    outline: none;
    margin-top:10px ;
    margin-bottom: 20px;
}
@media only screen and (min-width:320px) and (max-width:480px)
{
.LeftIcons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
}