<div class="BottomIcons">

      <div class="LeftIcons" *ngIf="!trashview">
            <img src="../../../assets/notifications_.svg" alt="Remind me" class="DownIcons">
            <img src="../../../assets/person_add.svg" alt="Collaborator" class="DownIcons">
            <img src="../../../assets/palette.svg" alt="Background options" class="DownIcons"  [matMenuTriggerFor]="colorMenu">
            <img src="../../../assets/image.svg" alt="Add image" class="DownIcons">
            <img src="../../../assets/archive_.svg" alt="Archive" class="DownIcons" (click)="archive()">
            <img src="../../../assets/more_vert.svg" alt="More" class="DownIcons" [matMenuTriggerFor]="menu">
      </div>
      <div *ngIf="trashview">
            <img src="../../../assets/icons/restore_from_trash_FILL0_wght400_GRAD0_opsz48.svg" alt="untrash" class="DownIcons" (click)="restore()">
            <img src="../../../assets/icons/delete_forever_FILL0_wght400_GRAD0_opsz48.svg" alt="Deleteforever" class="DownIcons" (click)="DeleteForever()">
      </div>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="trash()">Delete note</button>
          <button mat-menu-item [matMenuTriggerFor]="label" #menuTrigger="matMenuTrigger" (menuClosed)="onMenuClosed()"
            (click)="$event.stopPropagation()" *ngIf="!newNote"> {{labelTitle?'Add label':'change label'}}</button>
          <button mat-menu-item>Add drawing</button>
          <button mat-menu-item>Make a copy</button>
          <button mat-menu-item>Show checkboxes</button>
          
    </mat-menu>

    <mat-menu class="label-menu" #label="matMenu" (click)="$event.stopPropagation()">
      <div class="label-Radio" (click)="$event.stopPropagation()">Label note
          <input class="search-input" placeholder="Enter the Label" type="search" (keyup)="searchLabel($event)">
          <div *ngFor="let labels of labelArray">
              <mat-checkbox class="check-btn" (click)="selectLabel($event,labels.id)"
                  [checked]="checkedLabels.includes(labels.id)">{{labels.label}}</mat-checkbox>
          </div>
      </div>
  </mat-menu>
  
      <mat-menu #colorMenu="matMenu" class="BGColorPallet">
  
          <div class="ColorCirclesContainer">
                <div class="Displayer" *ngFor="let color of colorData">
                      <div class="ColorCircle" [style.background-color]="color.code" (click)="ColorCode(color.code)"></div>
                </div>
          </div>
    </mat-menu>
      
  </div>