.main {
    width: auto;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 5%;
    display: flex;
    gap: 100px;
    border: 1px solid grey;
    border-radius: 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo-title {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.title1{
    color: blue;
}

.title2{
    color:red ;
}

.title3{
    color:yellow ;
}

.title4{
    color: green;
}

.form-title {
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-size: 28px;
}
.form-heading{
    font-size: large;
    margin-top: 2%;
    margin-bottom: 1%;
}

.info{
    width: 350px;
}

.password {
    margin-top: 8%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.btn {
    padding-top: 38px;
    display: flex;
    gap: 136px;
}

@media only screen and (max-width: 500px) {
    .main{
        height: auto;
    }
    form{
        border:none;
    } 
    .btn{
        gap:132px;
    }

    .password{
        margin: 2%;
    }
}

@media only screen and (max-width: 300px) {
    .btn{
        gap:50px;
    }
}