<div class="main">
    <form [formGroup]="resetform" (ngSubmit)="reset()">
        <div class="form-content">
            <span class="logo-title">
                <span class="title1">G</span>
                <span class="title2">o</span>
                <span class="title3">o</span>
                <span class="title1">g</span>
                <span class="title4">l</span>
                <span class="title2">e</span>
            </span>
            <span class="form-title">Change Password</span>
            <span class="form-heading">
                Create a strong password
            </span>
            <span class="info">
                Create a new, strong password that you don't use for other websites
            </span>
            <div class="password">
                <mat-form-field class="mat-outline" appearance="outline">
                    <mat-label>Create Password</mat-label>
                    <input matInput type="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="">
                    <mat-error>new password is required</mat-error>
                </mat-form-field>
                <mat-form-field class="mat-outline" appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput type="password" formControlName="confirmpassword" [type]="showPassword ? 'text' : 'password'" placeholder="">
                    <mat-error>confirm password is required</mat-error>
                    <mat-hint>At least 8 characters</mat-hint>
                </mat-form-field>
                <div>
                    <section class="checkbox-section">
                        <mat-checkbox (click)="showHidePassword($event)">Show Password</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="btn">
                <div>
                    <button mat-button color="primary" routerLink="/forgot-password">Skip</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" onclick="">Save password</button>
                </div>
            </div>
        </div>
    </form>
</div>